{% extends 'arguepedia/base.html' %}
{% load crispy_forms_tags %}
{% load static%}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src = "{% static 'script.js' %}">


</script>

{% endblock %}
{%block main%}
{{argument.title}}

<li>{{action_argument.situation}}</li>

{% if action_argument.action %}
<li>{{action_argument.action}}</li>
{% endif %}

<li>{{action_argument.goal}}</li>
<li>{{action_argument.value}}</li>

<form method="POST" action='.' enctype='multipart/form-data'>
	<div class="row">
		<div class= "col-4">
{{counter_argument_form | crispy}}
			<div id="action-form">
				{% csrf_token %}
				{{action_form|crispy}}
			<button type="submit"> Send </button>
			</div>

		</div>
	</form>

<script>

$('#action-form').hide()
$('#id_argument_type').on('change', function(){
  var mainselection = this.value; // get the selection value
  if (mainselection == "action"){
  	$('#action-form').show()
	}
	else{
		$('#action-form').hide()
	}


    });
</script>

{%endblock%}